---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>🧑‍🚀 欢迎来到我的网站！</h1>
			<p>
				我的个人网站，记录我的学习和生活点滴，分享我的技术和经验。
			</p>
		</main>
		<Footer />
	</body>
</html>
